<form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">
  <mat-card class="container">
    <div style="width: 80%">
      <mat-card>
        <mat-card-content>
          <img
            src="{{ baseUrl }}/api/users/profile-image/{{
              updateProfileForm.get('profileImage')?.value
            }}"
            alt="avatar"
            *ngIf="
              updateProfileForm.get('profileImage')?.value;
              else notImageProfile
            "
          />
          <ng-template #notImageProfile>
            <img
              src="assets/images/avatar-default.png"
              class="avatar"
              alt="an avatar image for profile"
            />
          </ng-template>
          <ul>
            <li>
              <mat-progress-bar [value]="file.progress"></mat-progress-bar>
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="warn" (click)="onClickFile()">
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <input
            type="file"
            #fileUpload
            id="fileUpload"
            name="fileUpload"
            accept="image/*"
            style="display: none"
          />
        </mat-card-actions>
      </mat-card>
      <mat-form-field>
        <input matInput placeholder="id" formControlName="id" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="name"
          formControlName="name"
          data-test-id="nameField"
        />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="email" formControlName="email" />
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="!updateProfileForm.valid"
        type="submit"
        data-test-id="submitButton"
      >
        Update Profile
      </button>
    </div>
  </mat-card>
</form>
