<h1 style="text-align: center;">Registro de Usuario</h1>
<form [formGroup]="formRegister" (ngSubmit)="onSubmit(formRegister)">
  <div class="container">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Your name" data-test-id="nameField">
      <mat-error *ngIf="nameField && nameField.invalid">
        Por favor, provea un nombre Válido (entre 3 y 20 carcateres).
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Your email" (change)="onChange($event)" data-test-id="emailField">
      <mat-error *ngIf="emailField?.hasError('email')">
        Por favor provea un correo electrónico válido.
      </mat-error>
      <mat-error *ngIf="emailField?.hasError('required')">
        El correo electrónico es requerido.
      </mat-error>
      <mat-error *ngIf="emailField?.hasError('emailIsUsed')" data-test-id="ErrorEmailUsed">
        Ese correo electrónico, ya está siendo usado.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="password" type="password" placeholder="Your password" data-test-id="passwordField">
      <mat-error *ngIf="passwordField?.invalid">
        Por favor provea una contraseña válida, (mínimo 8 caracteres).
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="confirmPassword" type="password" placeholder="repeat your password" data-test-id="confirmPasswordField">
      <mat-error *ngIf="confirmPasswordField?.invalid">
        Por favor provea una contraseña válida, (mínimo 8 caracteres).
      </mat-error>
      <mat-hint class="error" *ngIf="formRegister.hasError('passwordsMatching') && (passwordField?.valid && confirmPasswordField?.valid)">
        Las contraseñas deben ser iguales.
      </mat-hint>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" type="submit" [disabled]="!formRegister.valid" data-test-id="submitButton">Enviar</button>
    </div>
  </div>
</form>
