<h2>
  Artículos de <span *ngIf="authorName">{{ authorName }}</span>
</h2>
<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
<ul *ngIf="!isLoading && !errorMessage && posts?.length > 0">
  <li *ngFor="let post of posts">
    <a [routerLink]="['/blog-entries', post.id]">{{ post.title }}</a>
  </li>
</ul>
<p *ngIf="!isLoading && !errorMessage && posts?.length === 0">
  No se encontraron artículos del autor.
</p>
