<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="titlePage">Status Code 666</span>
    <span class="example-spacer"></span>
    <button
      *ngIf="userIsAdmin()"
      mat-flat-button
      class="link-button"
      routerLink="users"
      aria-label="Example icon-button with share icon"
    >
      Users
    </button>
    <button
      *ngIf="userIsAdmin()"
      mat-flat-button
      class="link-button"
      routerLink="admin"
      aria-label="Example icon-button with share icon"
    >
      Admin
    </button>
    <mat-form-field
      style="margin-left: 16px; margin-top: 16px"
      name="loginRegisterDropdown"
    >
      <mat-select
        placeholder="Acceso"
        (selectionChange)="navigateTo($event.value)"
      >
        <ng-container *ngIf="userNavigationEntries">
          <mat-option
            *ngFor="let entry of userNavigationEntries"
            [value]="entry.link"
          >
            {{ entry.name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
